---
layout: page
full-width: true
cover-img: "assets/img/SBC'25-Banner.png"
---

<!-- Homepage HTML -->

<!-- <div class="banner">
  <img src="assets/img/SBC'25-Banner.png" alt="Banner Image">
</div> -->


<style>
  .banner {
    position: relative;
    text-align: center;
    margin-top: -70px;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100vh; */
    overflow: hidden;
  }
  
  .banner-img {
    width: 100%;
  }

  .center-container {
        display: flex;
        justify-content: center; /* Centers horizontally */
    }

  .styled-button {
        font-family: Inter, sans-serif; /* Change the font */
        font-size: 20px;               /* Adjust the font size */
        padding: 25px 32px;            /* Add some padding */
        width: 300px;
        background-color: #ffbc03e4;     /* Set background color */
        color: black;                  /* Set text color */
        border: solid 0.5px #30303060;     /* Set border */
        border-radius: 10px;           /* Round corners */
        cursor: pointer;               /* Change cursor on hover */
        transition: background-color 0.3s; /* Smooth transition */
    }
  
  .container-fluid{
    padding-left: 10%;
    padding-right: 10%;
  }
    
  .styled-button:hover {
      background-color: #dcbf72;     /* Darker shade on hover */
  }

  .button-row-container {
    display: flex;
    justify-content: center;
  }

</style>

<div class="banner-img">
  <img src="assets/img/SBC'25-Banner.png" alt="Banner Image"
       class="banner-img">
</div>

<h1 style="text-align: center; font-size: 36px; margin-top: 40px; margin-bottom: 40px; color: #fcb515;"> The Science of Blockchain Conference (SBC) 2025 </h1>

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<p style="text-align: left; font-size: 1.1rem; margin-top: 20px; margin-bottom: 20px;">
  August 3-7, 2025   <br>   
  Martin Luther King Jr. Building, UC Berkeley <br>
  David Brower Center, Berkeley   <br> <br>

  The conference is co-organized by <a href="https://www.initc3.org/">IC3</a>, the <a href="https://cbr.stanford.edu">Stanford Center for Blockchain Research</a> (CBR), and <a href="https://rdi.berkeley.edu/">UC Berkeley RDI.</a> <br><br>
  The conference focuses on technical innovations in the blockchain ecosystem, and brings together researchers and practitioners working in the space. We aim to foster collaboration among the different communities working on blockchain protocols, cryptography, distributed systems, secure computing, and crypto-economics.
</p>

<!-- CSS for the banner -->

<style>
  .banner {
    width: 100%;
    overflow: hidden;
  }

  .banner img {
    width: 150%;
    height: 120%;
    object-fit: contain;
    margin: 0 auto;
  }
</style>

<div style="height:10px; width:100%; clear:both;"></div>

<!--
<div data-tf-widget="YzXtT8nS" data-tf-opacity="100" data-tf-iframe-props="title=ZKP Hackathon Application 2" data-tf-transitive-search-params data-tf-medium="snippet" style="width:100%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
-->
<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<div class="container-fluid">
  <h1 style="text-align: left; font-size: 24px; margin-top: 40px; margin-bottom: 40px; color: #fcb515;"> CONFERENCE </h1>
  <div class="d-flex flex-wrap justify-content-center">
    <div class="mb-3 w-100">
      <div class="card h-100 shadow-sm d-flex flex-column align-items-center">
        <div class="card-body">
          <p class="card-text text-center" style="font-size: 1.1rem;">
            Please visit the <a href="https://www.sbc-conference.com/2025/">SBC'25 official page</a> for details on call for papers, registration, accommodations, affiliated workshops, and more. <br>
            For inquiries email <b>ic3.sbc25@rdi.berkeley.edu</b>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<div class="container-fluid">
  <h1 style="text-align: left; font-size: 24px; margin-top: 40px; margin-bottom: 40px; color: #fcb515;"> SPONSORSHIP </h1>
  <div class="d-flex flex-wrap justify-content-center">
    <div class="mb-3 w-100">
      <div class="card h-100 shadow-sm d-flex flex-column align-items-center">
        <div class="card-body">
          <p class="card-text text-center" style="font-size: 1.1rem;">
            If you are interested in sponsoring this year's edition, please find more information here. <br>
            For more details reach out to WHO? 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<div class="container-fluid">
  <h1 style="text-align: left; font-size: 24px; margin-top: 40px; margin-bottom: 40px; color: #fcb515;"> AFFILIATED WORKSHOPS</h1>
  <div class="d-flex flex-wrap justify-content-center">
    <div class="mb-3 w-100">
      <div class="card h-100 shadow-sm d-flex flex-column align-items-center">
        <div class="card-body">
          <p class="card-text text-center" style="font-size: 1.1rem;">
            Some of the workshops will be hosted August 3, 2025 and August 7, 2025 on the UC Berkeley campus or at the nearby David Brower Center. <br>
            If you have any questions, please email WHO?
            <ul>
              <li> StarkWare Scholar Summit #2 </li>
              <li> Blockchain Application Stanford Summit (BASS) at SBC 2025</li>
              <li> SBC DAO Workshop 2025 (Metagov & Decentralization Research Center)</li>
              <li> Impact Summit (Metagov)</li>
              <li> Science and Engineering of Consensus (Tse Lab Stanford)</li>
              <li> SMEV-SBC - Flashbots</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr style="border: 0; height: 2px; background-image: linear-gradient(to right, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.75), rgba(0, 33, 71, 0)); margin-top: 40px; margin-bottom: 40px;">

<p>Looking forward to seeing you there! <br> <br>
  *This event is not affiliated with, endorsed by, or sponsored by Columbia University.
</p>
